html {
  color: #000;
  background: #fff;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
input,
textarea,
select {
  *font-size: 100%;
}
legend {
  color: #000;
}

* {
  box-sizing: border-box;
}

html {
  background: linear-gradient(35deg, #ccffff, #ffcccc);
  background-size: cover;
  background-position: center;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  font-weight: 800;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: white;
  border-radius: 5px;
  content: 10px;
  padding: 5px;
}

/*Grid*/

.layout-grid {
  display: grid;
  grid-template-columns: 80px auto 80px;
  grid-template-rows: auto auto 50px;
}

.grid-header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.grid-main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.grid-footer {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

/*Header*/

header {
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
}

.nav-bar {
  margin: auto;
  height: 35px;
  width: 100%;
  align-items: center;
  padding-left: 0;
}

.nav-bar > li {
  display: grid;
  justify-content: center;
}

.nav-bar > li {
  width: 100%;
  list-style: none;
}

.nav-bar > li > a {
  background-color: rgba(204, 255, 255, 0.829);
  padding: 15px;
  margin: 20px;
  border-radius: 50%;
}

img {
  border-radius: 50%;
  width: 100%;
}

/*Main*/

.contact_box {
  padding: 5px;
  text-align: center;
}

.contact_box > ul > li > a > img {
  width: 150px;
  padding: 5px;
}

li {
  height: auto;
}

.hyperlink_text {
  background-color: grey;
  color: white;
  text-decoration: none;
  padding: 1px;
  border-radius: 5px;
}

.list_dot {
  list-style: none;
  padding: 0;
}

p {
  line-height: 1.5;
}

.fade-box {
  background: white;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.fade-box-cv {
  display: grid;
  grid-template-columns: 80px auto 80px;
  grid-template-rows: 50px auto;
  justify-content: center;
  align-items: center;
}

.grid-cv {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.grid-cv-text {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

/*Footer*/

footer {
  grid-template-columns: auto 80px auto;
  display: grid;
  justify-content: space-between;
  align-items: top;
  height: 100%;
}

footer > a {
  margin-top: 5px;
}

footer > p {
  bottom: 10px;
  margin: 0;
  margin-top: 5px;
}
