html {
  color: #000;
  background: #fff;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
input,
textarea,
select {
  *font-size: 100%;
}
legend {
  color: #000;
}

/*------------------------*/

* {
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
}

.layout-grid {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-rows: 110px auto 50px;
}

.grid-header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.grid-main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.profile-picture {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.grid-footer {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

html {
  background: linear-gradient(35deg, #ccffff, #ffcccc);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  font-weight: 800;
  box-shadow: 2px 0px 5px white;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

/*Header*/

header {
  overflow-y: hidden;
}

nav {
  overflow-y: hidden;
  display: inline;
}

nav > ul > li {
  display: inline;
  display: flex;
  align-items: center;
  margin: 10px;
}

nav > ul > li > a {
  position: relative; /*this fixed the parent cutting of child "a" elements*/
}

/*nav bar icons*/
.nav-bar {
  margin: 0;
  flex-wrap: nowrap;
  height: auto;
  width: 100%;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
}

/*nav icons settings - needs fixing on height clipping*/
.nav-bar > li > a {
  background-color: rgba(204, 255, 255, 1);
  padding: 15px;
  border-radius: 50%;
}

/*all images*/
img {
  border-radius: 50%;
  width: 100%;
}

/*profile picture*/
.grid-header > img {
  position: relative;
  left: 10px;
  height: 465px;
  width: 465px;
}

/*Main*/

.contact_box {
  padding: 5px;
}

/*mobile icon sizes*/
.contact_box > ul > li > a > img {
  width: 20vw;
  padding: 5px;
}

/*container for the icons positions*/
li {
  height: 100%;
  width: auto;
  align-items: stretch;
  align-content: center;
  display: flex;
  flex-direction: column;
}

.hyperlink_text {
  width: 20px;
  color: white;
  text-decoration: none;
  padding: 1px;
  border-radius: 5px;
}

.list_dot {
  list-style: none;
  padding: 0;
}

.icons {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

p {
  line-height: 1.5;
  padding: 5px;
}

.fade-box {
  background: white;
  border-radius: 5px;
  text-align: center;
}

.fade-box-cv {
  justify-content: center;
  align-items: center;
}

.grid-cv {
  width: auto;
}

/*Footer*/

footer {
  justify-content: space-between;
  align-items: top;
  height: 100%;
  overflow-y: hidden;
  margin-bottom: 25px;
}

footer > a {
  margin-top: 5px;
}

footer > p {
  bottom: 10px;
  margin: 0;
  margin-top: 5px;
  overflow-y: hidden;
}
