h1,
h2 {
  font-weight: 800;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: lightblue;
  border-radius: 5px;
  content: 10px;
  padding: 5px;
}

img {
  border-radius: 5px;
  width: 100%;
}

nav {
  background-color: aquamarine;
  border-radius: 5px;
  height: 20px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
}

header {
  width: 100%;
}

.contact_box {
  padding: 5px;
  text-align: center;
}

.hyperlink_text {
  font-family: Arial, Helvetica, sans-serif;
  background-color: grey;
  padding: 5px;
  border-radius: 5px;
}

.list_dot {
  list-style: none;
}
